html {
 box-sizing: border-box;
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

body {
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
 min-width: auto;
 //  @media (min-width: 768px) {
 //   min-width: 768px;
 //  }
}

.container {
 width: 1200px;
 margin: 0 auto;
 @media (max-width: 768px) {
  // width: 688px;
 }
}
