*,
*::before,
*::after {
 box-sizing: border-box;
}

body {
 font-family: "Montserrat";
}

html {
 box-sizing: border-box;
 min-width: 320px;
 @media (min-width: 768px) {
  min-width: 768px;
 }

 @media (min-width: 1280px) {
  min-width: 1280px;
 }
}

ul {
 padding: 0;
 margin: 0;
}

h1 {
 margin: 0;
}

h2 {
 margin: 0;
}

.container {
 width: 280px;
 margin: 0 auto;

 @media (min-width: 768px) {
  width: 688px;
 }

 @media (min-width: 1280px) {
  width: 1200px;
 }
}
