.reviews {
 margin-bottom: 80px;

 @media (min-width: 1280px) {
  display: flex;
 }

 &-block {
  @media (min-width: 1280px) {
   width: 600px;
   margin-top: 25px;
  }
 }

 &-title {
  @media (min-width: 1280px) {
   width: 600px;
  }
  h2 {
   @extend %museo-sans700;
   font-size: 40px;

   @media (min-width: 768px) {
    font-size: 56px;
    width: 509px;
   }
  }

  &__btn-left {
   position: relative;
   top: 500px;
   @extend%button-left-right;
   background: url(../../img/arrow-author-left.svg) no-repeat center center;

   @media (min-width: 768px) {
    top: 235px;
   }

   @media (min-width: 1280px) {
    top: 36px;
   }

   &:hover {
    border-color: #6248ff;
   }
  }

  &__btn-right {
   position: relative;
   top: 500px;
   left: 180px;
   @extend%button-left-right;
   background: url(../../img/author-arrow-right.svg) no-repeat center center;

   @media (min-width: 768px) {
    top: 240px;
    left: 600px;
   }

   @media (min-width: 1280px) {
    top: 36px;
    left: 12px;
   }

   &:hover {
    border-color: #6248ff;
   }
  }
 }

 &-author {
  text-align: center;
  margin-bottom: 75px;
  line-height: 27px;

  @media (min-width: 768px) {
   margin-bottom: 59px;
  }

  @media (min-width: 1280px) {
   text-align: unset;
   display: flex;
   align-items: center;
   margin-bottom: unset;
  }

  img {
   width: 73px;
   margin-bottom: 8px;

   @media (min-width: 1280px) {
    margin-bottom: unset;
    margin-right: 30px;
   }
  }

  h3 {
   @extend %museo-sans500;
   font-size: 18px;
  }

  p {
   @extend %museo-sans500;
   font-size: 16px;
   color: $words-grey;
  }
 }

 &-comment {
  h3 {
   @extend %museo-sans500;
   font-size: 24px;
   text-align: center;
   padding-bottom: 39px;

   @media (min-width: 768px) {
    width: 508px;
    margin: 0 auto;
   }

   @media (min-width: 1280px) {
    margin: unset;
    text-align: unset;
    margin-top: -17px;
    width: 576px;
    line-height: 28px;
   }

   &:before {
    content: "";
    display: block;
    background: url(../../img/dots-author.png) no-repeat center center;
    width: 35px;
    height: 30px;
    bottom: 30px;
    left: 120px;
    position: relative;

    @media (min-width: 768px) {
     left: 235px;
    }

    @media (min-width: 1280px) {
     top: 34px;
     left: -52px;
    }
   }
  }

  &-number {
   @extend %museo-sans500;
   font-size: 15px;
   display: flex;
   justify-content: center;
   color: #4f62f6;
   letter-spacing: 5px;

   @media (min-width: 1280px) {
    justify-content: unset;
   }
  }
 }
}
